/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure footer stays at the bottom */
    min-height: 100vh; /* Ensure page takes full height */
}

.container {
    max-width: 600px;
    width: 90%;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto; /* Center the container horizontally */
    position: relative; /* Added for absolute positioning of .dialogue-box */
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffbf00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="url"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #ffbf00;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #ccaa00;
}

.dialogue-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure it's on top of other content */
    max-width: 80%; /* Limit width for responsiveness */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */
}

.dialogue-box.show {
    display: block;
    opacity: 1;
}

.dialogue-box img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dialogue-box button {
    padding: 10px 20px;
    background-color: #ffbf00;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 10px;
}

.dialogue-box button:hover {
    background-color: #ccaa00;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 998; /* Below dialogue box */
    display: none;
}

.overlay.show {
    display: block;
}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}